[data-md-color-scheme="opdx"] {
    --md-primary-fg-color:        #09814A;
    --md-primary-fg-color--light: #ABFFD8;
    --md-primary-fg-color--dark:  #09814A;
    --md-accent-fg-color:         #09814A;
    --md-typeset-a-color:         #09814A;
}